/* RESET BÁSICO 
   - Elimina márgenes y padding por defecto
   - Aplica box-sizing: border-box para que el ancho incluya padding/border
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contacto {
    background-color: brown;
    padding: 10px 12px 6px 10px;
    margin: 12px 12px 8px 12px;

}

section {
    padding: 25px;
}

h2 {
    font-size: 15px 25px;
    margin-bottom: 10px;
}

/* BARRA DE NAVEGACION */
.barra-nav {
    padding: 15px 24px;
    background-color: brown;
} 

/* CUERPO DE LA PAGINA - BODY*/
body {
    background-color: rgb(233, 186, 128);
    font-family: "Roboto Condensed", sans-serif, fantasy;
}


/* TARJETA */
.Carta-pan {
    width: 280px;
    background-color: rgb(239, 202, 79);
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    transition: trasform .2s ease, box-shadow .2s ease;
}

.Carta-pan:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.15);
}

/* IMANGEN*/
.img-pan {
    width: 100%;
    height: 180px;
    border-radius: 18px;
    object-fit: contain;

}


/* TEXTO */
.nombre-pan {
    font-size: 24px;
    font-weight: bold;
}

.descripcion-pan {
    font-size: 16px;
    color: brown;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
}

/* BOTON */
.boton-pan {
    background-color: chocolate;
    border-radius: 10px;
    color: whitesmoke;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.boton-pan:hover {
    background-color: brown;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color: rgb(181, 121, 31);
    color: rgb(104, 17, 17);
}