/* RESET BÁSICO 
   - Elimina márgenes y padding por defecto
   - Aplica box-sizing: border-box para que el ancho incluya padding/border
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COLOR DE FONDO*/
body {
    background-color: rgb(233, 186, 128);
}


/* TARJETA */
.Carta-pan {
    width: 280px;
    background-color: aqua;
    border-radius: 15px;
    text-align: center;
    display: inline-block;

}

/* IMANGEN*/
.img-pan {
    width: 100%;
    height: 180px;
    border-radius: 18px;
    object-fit: contain;

}


/* TEXTO */
.nombre-pan {
    font-size: 24px;
    font-weight: bold;
}

.descripcion-pan {
    font-size: 16px;
    color: brown;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
}

/* BOTON */
.boton-pan {
    background-color: chocolate;
    border-radius: 10px;
    color: whitesmoke;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.boton-pan:hover{
    background-color: brown;
}
