/* RESET BÁSICO 
   - Elimina márgenes y padding por defecto
   - Aplica box-sizing: border-box para que el ancho incluya padding/border
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 186, 128);
}

.init {
    background-color: brown;
    

}

.init .title {
    text-align: center;
    color: rgb(187, 162, 19);
    background-color: rgb(41, 89, 104);
    
}